
<table id="table">
  <thead>
    <tr>
      <th (click)="sorTable(0,'str')">id</th>
      <th (click)="sorTable(1,'str')">name</th>
      <th (click)="sorTable(2,'str')">lastname</th>
      <th (click)="sorTable(3,'str')">age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>luck</td>
      <td>skywker</td>
      <td>30</td>
    </tr>
    <tr>
      <td>2</td>
      <td>obi wan</td>
      <td>kenovi</td>
      <td>70</td>
    </tr>
    </tbody>
</table>


<router-outlet></router-outlet>
